<div class="workout-modal" id="reset-modal">
    <span id="close" class="close" ng-click="$ctrl.closeModal()" ng-click="$ctrl.closeModal()">&times;</span>

    <h1> Reset Password</h1>
    <form name="authForgot" novalidate ng-submit="$ctrl.submitForm($event)">
        <label>
            <input type="email" name="email" required="required" placeholder="Enter your email" ng-model="$ctrl.email">
        </label>
        <button type="submit">Reset Password</button>
        <div ng-if="$ctrl.message">
            {{ $ctrl.message }}
        </div>
    </form>
</div>
