<!-- Navigation Bar -->

<ul class="nav-bar">
    <li><a href="/#!/home">Home</a></li>
    <li><a href="/#!/arms">Workouts</a></li>
    <li><a href="/#!/create">Create</a></li>
    <li><a href="/#!/tracker">Tracker</a></li>
    <li style=float:right><a href="/#!/home" ng-click="$ctrl.logOut()">Logout</a></li>
</ul>
