<nav-bar></nav-bar>
<h1>
    Create a Workout
</h1>
<div>
    <!-- Form to submit new workouts to the database -->

    <div ng-controller="CreateController" class="exercise-form">
        <p>Want to add a workout to the database? Start here:</p>
        <hr />
        <label>Type of Workout:</label>
        <select name="workout_type" ng-model="$ctrl.workout.type">
            <option ng-repeat="type in $ctrl.types" value={{type}}>{{type}}</option>
        </select>
        <br /><br />
        <label>Time On Each Exercise:</label>
        <select name="workout_time" ng-model="$ctrl.workout.timeOn">
            <option ng-repeat="time in $ctrl.timeOn" value={{time}}>{{time}}s</option>
        </select>
        <br /><br />
        <label>Rest Between Exercises:</label>
        <select name="rest_time" ng-model="$ctrl.workout.timeOff">
            <option ng-repeat="time in $ctrl.timeOff" value={{time}}>{{time}}s</option>
        </select>
        <br /><br />
        <label>Repetitions of Each Circuit:</label>
        <select name="repetitions">
            <option ng-repeat="x in [].constructor(10) track by $index" value={{$index+1}}>{{ $index+1 }}</option>
        </select>
        <br /><br />
        <label>Name of Workout:</label>
        <input type="text" placeholder="Workout Name" name="workout_name" id="workout_name" ng-model="$ctrl.workout.name" />
        <br /><br />
        <label>Number of Circuits:</label>
        <select id="num_circuits" ng-options="n for n in [] | range:1:11" ng-model="$ctrl.num_circuits">
        </select>
        <label> Exercises per Circuit:</label>
        <select id="num_exercises" ng-options="n for n in [] | range:1:11" ng-model="$ctrl.num_exercises">
        </select>
        <div ng-repeat="x in [].constructor($ctrl.num_circuits) track by $index" id="circuits{{$index+1}}">
            <p><b>Circuit {{ $index+1}}:</b></p>
            <div ng-repeat="y in [].constructor($ctrl.num_exercises) track by $index">
                {{ x }}
                <input type="text" placeholder="Exercise {{$index+1}}" name="exercise{{$index+1}}" id="exercise{{$parent.$index+1}}{{$index+1}}" ng-model="$ctrl.workout.circuits[$parent.$index][$index]" />

                <input type="file" id="picture{{$parent.$index}}.{{$index}}" name="picture{{$index+1}}" ng-model="$ctrl.workout.images[$parent.$index][$index]" />

                <br /><br />
            </div>
        </div>
        <hr />
        <button ng-click="$ctrl.updateWorkout();">Add Workout</button>
    </div>
</div>
