<div class="arms-grid">
    <div ng-repeat="workout in $ctrl.workoutInfo" class="card-box" ng-click="$ctrl.showModal(workout)">
        <b>{{ workout.name }}</b>
        <p>{{ workout.type }}</p>
        <p>{{ workout.circuits.length }} Circuits(s)</p>
        <p>{{ workout.circuits[0].length }} Exercise(s)</p>
        <p>{{ workout.timeOn }}s Work</p>
        <p>{{ workout.timeOff }}s Rest</p>
    </div>
</div>
<workout-modal selected-workout="$ctrl.workoutSelected"></workout-modal>
