<div class="workout-modal" id="workout-modal">
    <span id="close" class="close" ng-click="$ctrl.closeModal()" ng-click="$ctrl.closeModal()">&times;</span>
    <h1>{{ $ctrl.selectedWorkout.name }} </h1>
    <timer auto-start="false" class="timer" id="timer">{{hours}}:{{minutes}}:{{seconds}} </timer>
    <div class="timer-buttons">
        <button id="start-button" class="timer-button" ng-click="$ctrl.startTimer()" ng-disabled="$ctrl.timerRunning">Start Timer</button>
        <button id="resume-button" class="timer-button" ng-click="$ctrl.resumeTimer()" ng-disabled="$ctrl.disableResume">Resume Timer</button>
        <button id="stop-button" class="timer-button" ng-click="$ctrl.stopTimer()" ng-disabled="!$ctrl.timerRunning">Stop Timer</button>
    </div>
    <div ng-repeat="circuit in $ctrl.selectedWorkout.circuits" class="circuit">
        <strong><u>Circuit {{ $index + 1 }}</u></strong>
        <div class="exercise-block" ng-repeat="exercise in circuit">
            <h3 class="exercise-name"> {{ exercise.name }}</h3>
            <img class="exercise-image" src="{{ exercise.attributes.picture._url }}">

        </div>

    </div>
</div>
