<div>
    <div>
        <h1>Login</h1>
        <auth-form user="$ctrl.user" message="{{ $ctrl.error }}" button="Login" on-submit="$ctrl.loginUser($event)"></auth-form>
    </div>

    <button ng-click="$ctrl.showResetModal($event)" class="passBtn">Forgot Password</button>
    <div>
        <a ui-sref="auth.register">Don't have an account? Create one here.</a>
    </div>
</div>

<auth-forgot></auth-forgot>
