h1 {
    text-align: center;
    font-family: "Krona One", sans-serif;
    color: rgba(250, 192, 138, 0.856);
}

body {
    margin: 0;
    background-color: rgb(78, 67, 57) !important;
}

html {
    background-color: rgb(78, 67, 57) !important;
}

/* style nav bar */
ul.nav-bar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background: linear-gradient(rgba(232, 235, 65, 0.9),
            rgba(255, 147, 47, 0.945));
}

/* horizontal nav bar styles */
ul.nav-bar li {
    float: left;
}

ul.nav-bar li.settings {
    float: right;
}

/* nav bar link styles */
ul.nav-bar li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    font-family: "Scada", sans-serif;
    font-weight: 700;
    text-decoration: none;
}

a:hover {
    background: rgba(241, 232, 100, 0.87);
}

/* dropdown style for navbar item */
.dropdown-links a:hover {
    background: rgba(241, 196, 100, 0.87);
}

.workout-dropdown:hover .dropdown-links {
    display: block;
}

.dropdown-links {
    display: none;
    position: absolute;
    background-color: rgba(241, 232, 100, 0.87);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

/* center home image, round edges */
.home-img {
    margin: auto;
    display: block;
    border-radius: 25px;
    border-style: groove;
    border-width: 10px;
    border-color: rgba(250, 163, 82, 0.856);
    border-radius: 25px;
}

/* Modal that pops up when you click a workout */
.workout-modal {
    text-align: center;
    position: absolute;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    left: 30%;
    top: 30%;
    margin: auto;
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgba(255, 255, 255, 0.95);
    /* Black w/ opacity */
    width: 50%
}

.timer {
    display: none;
}

.timer-button {
    display: none;
}

/* The Close Button */
.close {
    display: none;
    color: #aaaaaa;
    padding: 10px;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

/* Create a grid of workout cards */
.arms-grid {
    text-align: center;
    display: grid;
    padding-top: 20px;

    grid-row-gap: 20px;

    grid-template-areas:
        "card-1 card-2 card-3 card-4";
}

/* style each card */
.card-box {
    border-radius: 25px;
    background: rgba(250, 163, 82, 0.856);
    padding: 20px;
    margin: auto;
    width: 65%;

}

.card-box:hover {
    background-image: linear-gradient(rgba(241, 186, 32, 1),
            rgba(255, 147, 47, 0.2));
}


.circuit {
    padding: 10px;
    margin: 10px;
}

.exercise-form {
    font-family: "Scada", sans-serif;
    text-align: center;
    border-radius: 25px;
    background: rgba(250, 163, 82, 0.856);
    padding: 20px;
    margin: auto;
    width: 80%;
}

select,
input,
button {
    font-family: "Scada", sans-serif;
    background-color: rgb(255, 208, 163);
    border-radius: 5px;
}

.create-workout {
    margin-right: 10px;
    float: left;
    width: 95%;
}

.flex-child {
    float: right;
    margin-right: 5px;
}

.workout-form {
    float: left;
    width: 70%;
}

.exercise-block {

    border-style: solid;
    border-color: black;
    align-items: center;
    justify-content: space-between;
    display: flex;
}

.exercise-name {
    float: left;
    margin-left: 20px;
    margin-right: 20px;
}

.exercise-image {
    float: right;
    height: 200px;
    width: 200px;
}

.timer-buttons {
    display: flex;
    justify-content: center;

}
