/* Google fonts for headers within boxes */
h2 {
  font-family: "Krona One", sans-serif;
}

/* use a grid to format the workout options */
.workout-types {
  text-align: center;
  display: grid;
  grid-template-columns: repeat(auto-fit, 1fr);
  grid-template-rows: 280px 200px;
  grid-template-areas:
    "arms-box cardio-box"
    "core-box legs-box";
}

.workout-types a {
  text-decoration: none;
  color: black;
}

/* style the arms box */
.arms-box {
  border-radius: 25px;
  background: rgba(250, 163, 82, 0.856);
  padding: 20px;
  margin: auto;
  width: 80%;
}

/* style the linked arms icon */
.arms {
  margin: auto;
  width: 100px;
  height: 100px;
  background-image: url("../images/arms-icon.png");
  background-size: cover;
  background-position: center;
}

.arms-box:hover {
  background-image: linear-gradient(
    rgba(241, 186, 32, 1),
    rgba(255, 147, 47, 0.2)
  );
}

/* style the cardio box */
.cardio-box {
  border-radius: 25px;
  background: rgba(250, 163, 82, 0.856);
  padding: 20px;
  margin: auto;
  width: 80%;
}

/* style the linked cardio icon */
.cardio {
  margin: auto;
  width: 100px;
  height: 100px;
  background-image: url("../images/cardio-icon.png");
  background-size: cover;
  background-position: center;
}

.cardio-box:hover {
  background-image: linear-gradient(
    rgba(241, 186, 32, 1),
    rgba(255, 147, 47, 0.2)
  );
}

/* style the core box */
.core-box {
  border-radius: 25px;
  background: rgba(250, 163, 82, 0.856);
  padding: 20px;
  margin: auto;
  width: 80%;
}

/* style the linked core icon */
.core {
  margin: auto;
  width: 100px;
  height: 100px;
  background-image: url("../images/core-icon.png");
  background-size: cover;
  background-position: center;
}

.core-box:hover {
  background-image: linear-gradient(
    rgba(241, 186, 32, 1),
    rgba(255, 147, 47, 0.2)
  );
}

/* style the legs box */
.legs-box {
  border-radius: 25px;
  background: rgba(250, 163, 82, 0.856);
  padding: 20px;
  margin: auto;
  width: 80%;
}

/* style the linked legs icon */
.legs {
  margin: auto;
  width: 100px;
  height: 100px;
  background-image: url("../images/legs-icon.png");
  background-size: cover;
  background-position: center;
}

.legs-box:hover {
  background-image: linear-gradient(
    rgba(241, 186, 32, 1),
    rgba(255, 147, 47, 0.2)
  );
}

/* center the gifs on each workout type page */
.main-img {
  display: block;
  margin: auto;
  border-radius: 25px;
  border-style: groove;
  border-width: 10px;
  border-color: rgba(250, 163, 82, 0.856);
  border-radius: 25px;
}
