<div>
    <div>
        <h1>Register</h1>
        <auth-form
            user="$ctrl.user"
            message="{{ $ctrl.error }}"
            button="Create user"
            on-submit="$ctrl.createUser($event);">
        </auth-form>
    </div>
    <div>
        <a ui-sref="auth.login">Already have an account? Login here.</a>
    </div>
</div>
